<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ewaew.bmi_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bmi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <!--android:icon="@mipmap/ic_launcher"-->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BMIResultActivity"

           />
            <!-- tu powyżej można ustawić android:parentActivityName=".MainActivity" wtedy przy nacisnieciu powrotu do mainacticity wyswietlaja sie zapisane dane
            a jak tego nie ma to pomimo zapisanych wraca do ostatnio wpisanych danych. Przy zamknięciu aplikacji w obu prypadkach wraca do zapisanych danych-->


        <activity
            android:name=".FullscreenActivity"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ewaew.bmi_app.MainActivity" />
        </activity>
    </application>

</manifest>